.Submit_page{
    text-align: center;
    border: 2px red solid;
    background-color: thistle;
    max-width:650px ;
    min-width: 650px;
    margin: auto;
    
}

.Love_quote{
    color: #fd0000;
    font-size: large;
    
}

p{
  font-weight: 500;
}